// CUSTOM BOOTSTRAP THEME
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$primary: #4169e1;
$danger: #f08080;
$enable-negative-margins: true;

@import "node_modules/bootstrap/scss/bootstrap.scss";

:root {
  --bs-body-font-family: "Poppins", sans-serif;
  --bs-breadcrumb-margin-bottom: 0;
}
